.dark {
    background: #313030;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: #b91818;
}

.red-text {
    color: #efdbdb;
}

.blue {
    background: #3290a9;
}

.blue-text {
    color: #0a267c;
}

.light {
    background: #ffffff;
}

.light-text {
    color: #27272a;
}
