.superInput {
    border-radius: 4px;
    font-size: inherit;
}

.input {
    outline: none;
    border-radius: 7px;
}

.divInput {
    display: flex;
    flex-direction: column;
}

.errorInput {
    border: 2px solid rgba(219, 20, 20, 0.5);
}

.error {
    color: #db1414;
    margin: 5px 15px;
    font-size: inherit;
}